.SingleRecipe {
  display: flex;
  gap: 120px;
  justify-content: center;
  a {
    text-transform: uppercase;
    text-decoration: none;
  }
  a:visited {
    color: rgb(153, 82, 6);
  }
  .titleRecipe {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  ul {
    list-style-type: none;
    a {
      text-transform: uppercase;
      font-weight: 800;
      text-decoration: none;
      color: gray;
    }
    a:focus {
      color: red;
    }
    a:visited {
      color: rgb(153, 82, 6);
    }
    a:hover {
      color: rgb(245, 149, 15);
    }
  }
  h1 {
    color: rgb(184, 182, 182);
    text-transform: uppercase;
    font-size: 1.5rem;
  }

  img {
    width: 600px;
    border-radius: 40px;
  }

  h3 {
    color: red;
  }
}
