@import "../../styles/_variables";
@import "../../styles/_mixins";

.CategoryList {
  @include box-model(3rem 0);
  @include flex-element(row, center, center);

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 3rem;
}
